<!DOCTYPE html>
<html>
<head>
<title>车辆查询</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet"
	href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet"
	href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/jquery-ui.js"></script>
<script src="../../libs/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="../../css/jquery-ui.css">
<script src="../../libs/validator.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<style type="text/css">
.kuandu {
	width: 190px;
}

#ui-id-1 {
	background-color: white;
	width: 220px;
	left: 300px;
}
</style>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn" style="overflow: hidden;">
				<div class="form-group col-sm-2 kuandu">
					<input type="text" class="form-control" id="cph" v-model="q.cph"
						@keyup.enter="query" placeholder="车牌号(用*代替未知)">

				</div>
				<div class="form-group col-sm-2 kuandu">
					<!--<input type="text" class="form-control" id="brand"
						v-model="q.brand" @keyup.enter="query" placeholder="车辆品牌">-->
					<select id="brand" class="form-control" style="width:160px;">
						<option value ="">车辆品牌</option>
					</select>
				</div>
				<div class="form-group col-sm-2 kuandu">
					<input type="text" class="form-control" id="startTime"
						readonly="readonly" placeholder="起始时间">
				</div>
				<div class="form-group col-sm-2 kuandu">
					<input type="text" class="form-control" id="endTime"
						readonly="readonly" placeholder="结束时间">
				</div>
				<div class="form-group col-sm-2 kuandu">
					<input type="text" class="form-control" id="numOfPassenger"
						v-model="q.numOfPassenger" @keyup.enter="query"
						placeholder="乘客人数（以上）">
				</div>
				<div class="form-group col-sm-2 kuandu">
					<input type="text" class="form-control" id="pclass"
						v-model="q.pclass" @keyup.enter="query" placeholder="车牌种类">
				</div>
				<!-- 			<div class="form-group col-sm-2 kuandu"> -->
				<!-- 				<input type="text" class="form-control" id="qclass" v-model="q.qclass" @keyup.enter="query" placeholder="车辆类型"> -->
				<!-- 			</div> -->

				<div class="form-group col-sm-2 kuandu">
					<input type="text" class="form-control" id="speed"
						v-model="q.speed" @keyup.enter="query" placeholder="行车速度(km/h)以上">
				</div>
				<div class="form-group col-sm-2 kuandu">
					<input id="tags" class="form-control" placeholder="卡口名称">
				</div>
				<div class="form-group col-sm-2 kuandu">
					<select id="color" class="moreChoose" style="width: 160px">
						<option value="">车辆颜色</option>
					</select>
				</div>
				<div class="form-group col-sm-2 kuandu">
					<select id="paltecolor" class="moreChoose" style="width: 160px">
						<option value="">车牌颜色</option>
						<option value="1">黑色</option>
						<option value="2">白色</option>
						<option value="6">黄色</option>
						<option value="5">蓝色</option>
						<option value="9">绿色</option>
					</select>
				</div>
				<div class="form-group col-sm-2 kuandu">
					<select id="infoKind" class="moreChoose" style="width: 160px">
						<option value="">信息类型</option>
						<option value="2">人工采集</option>
						<option value="1">自动采集</option>
						<option value="0">其他</option>
					</select>
				</div>
				<div class="form-group col-sm-2 kuandu">
					<select id="safetyBelt" class="moreChoose" style="width: 160px">
						<option value="">安全带状态</option>
						<option value="0">未系</option>
						<option value="1">有系</option>
					</select>
				</div>
				<div class="form-group col-sm-2 kuandu">
					<select id="calling" class="moreChoose" style="width: 160px">
						<option value="">打电话状态</option>
						<option value="1">打电话中</option>
						<option value="0">未打电话</option>
					</select>
				</div>

				<a class="btn btn-default"
					style="background: #337ab7; color: #fff; margin-left: 15px; float: left;"
					@click="query">查询</a>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>
	</div>

	<script src="../../js/modules/manager/scjqmhcheck.js"></script>
	<script src="../../vasMap/laydate-master/dist/laydate.js"></script>
	<script language="javascript" type="text/javascript">
		var availableTags = [];
		$(function() {
			kaName();
			if (qs == "" || qs == null) {
				t1 = getDate(0);
				t2 = getBeforeDate(0);
				laydate.render({
					elem : '#startTime',
					value : t1,
					type : 'datetime'

				});
				laydate.render({
					elem : '#endTime',
					value : t2,
					type : 'datetime'
				});
			} else {
				laydate.render({
					elem : '#startTime',
					value : qs,
					type : 'datetime'

				});
				laydate.render({
					elem : '#endTime',
					value : js,
					type : 'datetime'
				});
			}
            $.widget( "custom.combobox", {
                _create: function() {
                    this.wrapper = $( "<span>" )
                        .addClass( "custom-combobox" )
                        .insertAfter( this.element );

                    this.element.hide();
                    this._createAutocomplete();

                },

                _createAutocomplete: function() {
                    var selected = this.element.children( ":selected" ),
                        value = selected.val() ? selected.text() : "";
                    this.input = $( "<input>" )
                        .appendTo( this.wrapper )
                        .val( value )
                        .attr( "title", "" )
                        .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                        .autocomplete({
                            delay: 0,
                            minLength: 0,
                            source: $.proxy( this, "_source" )
                        })
                        .tooltip({
                            tooltipClass: "ui-state-highlight"
                        });

                    this._on( this.input, {
                        autocompleteselect: function( event, ui ) {
                            ui.item.option.selected = true;
                            this._trigger( "select", event, {
                                item: ui.item.option
                            });
                        },

                        autocompletechange: "_removeIfInvalid"
                    });
                },



                _source: function( request, response ) {
                    var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                    response( this.element.children( "option" ).map(function() {
                        var text = $( this ).text();
                        if ( this.value && ( !request.term || matcher.test(text) ) )
                            return {
                                label: text,
                                value: text,
                                option: this
                            };
                    }) );
                },

                _removeIfInvalid: function( event, ui ) {

                    // 选择一项，不执行其他动作
                    if ( ui.item ) {
                        return;
                    }

                    // 搜索一个匹配（不区分大小写）
                    var value = this.input.val(),
                        valueLowerCase = value.toLowerCase(),
                        valid = false;
                    this.element.children( "option" ).each(function() {
                        if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                            this.selected = valid = true;
                            return false;
                        }
                    });

                    // 找到一个匹配，不执行其他动作
                    if ( valid ) {
                        return;
                    }

                    // 移除无效的值
                    this.input
                        .val( "" )
                        .attr( "title", value + " didn't match any item" )
                        .tooltip( "open" );
                    this.element.val( "" );
                    this._delay(function() {
                        this.input.tooltip( "close" ).attr( "title", "" );
                    }, 2500 );
                    this.input.data( "ui-autocomplete" ).term = "";
                },

                _destroy: function() {
                    this.wrapper.remove();
                    this.element.show();
                }
            });


		});
		function kaName() {
			var url = "etcp/SearchServlet";
			$.ajax({
				type : "POST",
				url : baseURL + url,
				contentType : "application/json",
				success : function(obj) {
					var list = obj.list;
					availableTags = [];
					for (var i = 0; i < list.length; i++) {
						availableTags[i] = list[i].mc;
					}
					$("#tags").autocomplete({
						source : availableTags
					});
				}
			});
		}

        // (function( $ ) {
        //     alert(11111);
        //     $.widget( "custom.combobox", {
        //         _create: function() {
        //             this.wrapper = $( "<span>" )
        //                 .addClass( "custom-combobox" )
        //                 .insertAfter( this.element );
        //
        //             this.element.hide();
        //             this._createAutocomplete();
        //
        //         },
        //
        //         _createAutocomplete: function() {
        //             var selected = this.element.children( ":selected" ),
        //                 value = selected.val() ? selected.text() : "";
        //             this.input = $( "<input>" )
        //                 .appendTo( this.wrapper )
        //                 .val( value )
        //                 .attr( "title", "" )
        //                 .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
        //                 .autocomplete({
        //                     delay: 0,
        //                     minLength: 0,
        //                     source: $.proxy( this, "_source" )
        //                 })
        //                 .tooltip({
        //                     tooltipClass: "ui-state-highlight"
        //                 });
        //
        //             this._on( this.input, {
        //                 autocompleteselect: function( event, ui ) {
        //                     ui.item.option.selected = true;
        //                     this._trigger( "select", event, {
        //                         item: ui.item.option
        //                     });
        //                 },
        //
        //                 autocompletechange: "_removeIfInvalid"
        //             });
        //         },
        //
        //
        //
        //         _source: function( request, response ) {
        //             var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        //             response( this.element.children( "option" ).map(function() {
        //                 var text = $( this ).text();
        //                 if ( this.value && ( !request.term || matcher.test(text) ) )
        //                     return {
        //                         label: text,
        //                         value: text,
        //                         option: this
        //                     };
        //             }) );
        //         },
        //
        //         _removeIfInvalid: function( event, ui ) {
        //
        //             // 选择一项，不执行其他动作
        //             if ( ui.item ) {
        //                 return;
        //             }
        //
        //             // 搜索一个匹配（不区分大小写）
        //             var value = this.input.val(),
        //                 valueLowerCase = value.toLowerCase(),
        //                 valid = false;
        //             this.element.children( "option" ).each(function() {
        //                 if ( $( this ).text().toLowerCase() === valueLowerCase ) {
        //                     this.selected = valid = true;
        //                     return false;
        //                 }
        //             });
        //
        //             // 找到一个匹配，不执行其他动作
        //             if ( valid ) {
        //                 return;
        //             }
        //
        //             // 移除无效的值
        //             this.input
        //                 .val( "" )
        //                 .attr( "title", value + " didn't match any item" )
        //                 .tooltip( "open" );
        //             this.element.val( "" );
        //             this._delay(function() {
        //                 this.input.tooltip( "close" ).attr( "title", "" );
        //             }, 2500 );
        //             this.input.data( "ui-autocomplete" ).term = "";
        //         },
        //
        //         _destroy: function() {
        //             this.wrapper.remove();
        //             this.element.show();
        //         }
        //     });
        // })( jQuery );

        $(function() {
            $( "#brand" ).combobox();

        });
	</script>
</body>
</html>