<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet"
	href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet"
	href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<style type ="text/css">
	.kuan{
		width:190px;
	}

</style>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn" style="overflow: hidden;">
				<div class="form-group col-sm-1">
					<label style="font-size: medium">车牌号：</label>
				</div>
				<div class="form-group col-sm-2 kuan">
					<input type="text" class="form-control" id="cph" v-model="q.cph"
						placeholder="车牌号">
				</div>
				<div class="form-group col-sm-1">
					<label style="font-size: medium">停车场区划：</label>
				</div>
				<div class="form-group col-sm-2 kuan">
					<input type="text" class="form-control" id="park" v-model="q.park"
						placeholder="停车场区划">
				</div>
				<div class="form-group col-sm-1">
					<label style="font-size: medium">停车场地址：</label>
				</div>
				<div class="form-group col-sm-2 kuan">
					<input type="text" class="form-control" id="address"
						v-model="q.address" placeholder="停车场地址">
				</div>
				<div class="form-group col-sm-1">
					<label style="font-size: medium">起始时间：</label>
				</div>
				<div class="form-group col-sm-2 kuan">
					<input type="text" class="form-control" id="startTime"
						readonly="readonly" placeholder="起始时间">
				</div>
				<div class="form-group col-sm-1">
					<label style="font-size: medium">结束时间：</label>
				</div>
				<div class="form-group col-sm-2 kuan">
					<input type="text" class="form-control" id="endTime"
						readonly="readonly" placeholder="结束时间">
				</div>
				<div align="right">
					<a class="btn btn-default" style="background: #337ab7; color: #fff;" id="check" @click="jk">查询</a>
				</div>
				<!--<a class="btn btn-default" style="background: #337ab7; color: #fff;" id="check" @click="jk">查询</a>-->
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>
	</div>
	<script src="../../js/modules/manager/scparkcheck.js"></script>
	<script src="../../vasMap/laydate-master/dist/laydate.js"></script>
	<style>
      /*.col-sm-2 {*/
	      /*width: 18%;*/
      /*}*/
     .ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
	     line-height: 42px;
      }
    </style>
	<script>
		var date = new Date();
		if (qs == "" || qs == null) {
			t1 = getDate(0);
			t2 = getBeforeDate(0);
			laydate.render({
				elem : '#startTime',
				value : t1,
				type : 'datetime'
			});
			laydate.render({
				elem : '#endTime',
				value : t2,
				type : 'datetime'
			});
		} else {
			laydate.render({
				elem : '#startTime',
				value : qs,
				type : 'datetime'
			});
			laydate.render({
				elem : '#endTime',
				value : js,
				type : 'datetime'
			});
		}
	</script>
</body>
</html>