<!DOCTYPE html>
<html style=" overflow: hidden">
<head>
<title>车辆轨迹图</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<style type="text/css">
body {
	margin: 0;
	overflow: hidden;
	background: #fff;
}
.smPopupCloseBox {
  background: url("../theme/images/iw_close.gif") no-repeat;
  cursor: pointer;
  background-position-x: 4px;
  background-position-y: 3px;
}
#map {
	position: relative;
	height: 80vh;
	border: 1px solid #3473b7;
}

#toolbar {
	position: relative;
	padding-top: 5px;
	padding-bottom: 10px;
}
</style>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet"
	href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet"
	href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<link href="../../vasMap/theme/default/google.css">
<link href="../../vasMap/theme/default/style.css">

<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/validator.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../js/common.js"></script>

<script src="../data/pInfo.js" type="text/javascript"></script>
<script src="../superMap/SuperMap-8.1.1-14426.js" type="text/javascript"></script>
<script src="../superMap/SuperMap_Plot-8.1.1-14426.js"
	type="text/javascript"></script>
<script type="text/javascript">
function infor(id){
	
// 	var src=document.getElementById(id).innerHTML;
// 	   if(src != ''){
// 	    	src=src.replace('31', '300');
// 	    	src=src.replace('120', '400');
// 	    layer.open({
// 	    	  type: 1,
// 	    	  title :'照片',
// 	    	  skin: 'layui-layer-rim', //加上边框
// 	    	  area: ['412px', '355px'], //宽高
// 	    	  content: src
// 	    	});
// 	    }
};
	var host = document.location.toString().match(/file:\/\/ /) ? "http://localhost:8090"
			: 'http://' + document.location.host;

	var local, map, animatorLayer, laye, vectorLayer, markerLayer, drawPoint, select, pathTime, pathListIndex = 0, routeCompsIndex = 0, style = {
		strokeColor : "#304DBE",
		strokeWidth : 3,
		pointerEvents : "visiblePainted",
		fill : false
	}, styleGuidePoint = {
		pointRadius : 10,
		externalGraphic : "../theme/images/car.png"
	}, styleGuideLine = {
		strokeColor : "#25FF25",
		strokeWidth : 6,
		fill : false
	}, styleCar1 = {
		externalGraphic : "../theme/images/car.gif",
		allowRotate : true,
		graphicWidth : 32,
		graphicHeight : 32
	}, styleLine = {
		strokeColor : "#25FF25",
		strokeWidth : 3,
		fill : false
	}, styleCar1 = {
		externalGraphic : "../theme/images/闪烁.gif",
		allowRotate : true,
		graphicWidth : 32,
		graphicHeight : 32
	},begin = {
		externalGraphic : "../theme/images/marker.png",
		graphicWidth : 25,
		pointRadius : 10,
		graphicHeight : 33
	},start = {
			externalGraphic : "../theme/images/start.png",
			graphicWidth : 25,
			pointRadius : 10,
			graphicHeight : 33
	},end = {
			externalGraphic : "../theme/images/end.png",
			graphicWidth : 25,
			pointRadius : 10,
			graphicHeight : 33
	};

	var chepai;
	var chep;
	var qs;
	var js;
	var cs;
	var pag;
	function init() {
		vectorLayer = new SuperMap.Layer.Vector("Vector Layer");
		drawPoint = new SuperMap.Control.DrawFeature(vectorLayer,
				SuperMap.Handler.Point);
		select = new SuperMap.Control.SelectFeature(vectorLayer, {
			onSelect : onFeatureSelect,
			onUnselect : onFeatureUnselect
		});
		drawPoint.events.on({
			"featureadded" : drawCompleted
		});
		map = new SuperMap.Map("map", {
			controls : [ new SuperMap.Control.LayerSwitcher(),
					new SuperMap.Control.Zoom(),
					new SuperMap.Control.Navigation({
						dragPanOptions : {
							enableKinetic : true
						}
					}), drawPoint, select ],
			units : "m"
		});
		laye = new SuperMap.Layer.TiledDynamicRESTLayer("通州矢量地图 ", url1, {
			transparent : true,
			cacheEnabled : true
		}, {
			maxResolution : "auto"
		});
		laye.events.on({
			"layerInitialized" : addLayer
		});
		// 增加轨迹图层
		vectorLayer = new SuperMap.Layer.Vector("VectorLayer", {
			renderers : [ "Canvas2" ],
			styleMap : new SuperMap.StyleMap({
				"default" : styleLine
			})
		});
		//初始化动态图层start
		animatorLayer = new SuperMap.Layer.AnimatorVector("Car1", {
			styleMap : new SuperMap.StyleMap({
				"default" : styleCar1
			})
		}, {
			//设置速度为每帧播放0.005小时的数据
			speed : 0.003,
			//开始时间为0晨
			startTime : 0,
			//结束时间设置为最后运行结束的汽车结束时间
			endTime : 1000
		});
		//初始化动态图层end	
		markerLayer = new SuperMap.Layer.Markers("Markers");

		chepai = parent.cph;
		qs = parent.sTime;
		js = parent.eTime;
		chep=sessionStorage.getItem("cph");
        pag=sessionStorage.getItem("pag");
        sessionStorage.removeItem("pag");
        sessionStorage.removeItem("cph");
		parent.change();
		if (chepai != null && chepai != "") {
			var tempcph = chepai.split("-");
			cs = tempcph[1];
			$('#cph').val(tempcph[1]);
			if (qs != null && qs != "") {
				$('#stime').val(qs);
			}
			if (js != null && js != "") {
				$('#etime').val(js);
			}
			check();
		}
	}
	function addLayer() {
		map.addLayers([ laye, vectorLayer, animatorLayer, markerLayer ]);
		map.setCenter(new SuperMap.LonLat(116.65135585, 39.8989926), 12);
		var callbacks = {
			click : function(features) {
				for (var k = 0; k < nodeArr.length; k++) {
					if (nodeArr[k].x == features.geometry.x) {
						closeInfoWin();
						var contentHTML = "<div style=\'font-size:.8em; opacity: 0.8; overflow-y:hidden;\'>";
						contentHTML += "<div style=\'font-size: 18px;margin-left: 90px;\'>"+time[k]+"</div>";
						contentHTML += "<div style=\'font-size: 18px;margin-left: 90px;\'>"+address[k]+"</div>";
						contentHTML += "<div style=\'margin-left: 5px;margin-bottom: 4px;overflow: hidden;\' id="+imgs[k]+" onclick='infor(this.id)'><img style='height:300px; width:400px' src='"+imgs[k]+"'></div></div>";
						var popup = new SuperMap.Popup.FramedCloud("popwin",
								new SuperMap.LonLat(features.geometry.x,
										features.geometry.y), null,
								contentHTML, null, true);
						infowin = popup;
						map.addPopup(popup);
					}
				}
			}
		};

		//实例化 selectFeature 控件
		var selectFeature = new SuperMap.Control.SelectFeature(vectorLayer, {
			callbacks : callbacks
		});
		//map上添加控件
		map.addControl(selectFeature);
		//激活控件
		selectFeature.activate();
	}
	function selectPoints() {
		clearElements();
		drawPoint.activate();
	}
	function drawCompleted(drawGeometryArgs) {
		var point = drawGeometryArgs.feature.geometry, size = new SuperMap.Size(
				44, 33), offset = new SuperMap.Pixel(-(size.w / 2), -size.h), icon = new SuperMap.Icon(
				"../theme/images/marker.png", size, offset);
		markerLayer.addMarker(new SuperMap.Marker(new SuperMap.LonLat(point.x,
				point.y), icon));
		nodeArray.push(point);
	}

	//选中时显示路径指引信息
	function onFeatureSelect(feature) {
		if (feature.attributes.description) {
			popup = new SuperMap.Popup("chicken", feature.geometry.getBounds()
					.getCenterLonLat(), new SuperMap.Size(200, 30),
					"<div style='font-size:.8em; opacity: 0.8'>"
							+ feature.attributes.description + "</div>", null,
					false);
			feature.popup = popup;
			map.addPopup(popup);
		}
		if (feature.geometry.CLASS_NAME != "SuperMap.Geometry.Point") {
			feature.style = styleGuideLine;
			vectorLayer.redraw();
		}
	}

	//清除要素时调用此函数
	function onFeatureUnselect(feature) {
		map.removePopup(feature.popup);
		feature.popup.destroy();
		feature.popup = null;
		if (feature.geometry.CLASS_NAME != "SuperMap.Geometry.Point") {
			feature.style = style;
		}
		vectorLayer.redraw();

	}
	function closeInfoWin() {// 关闭窗口
		if (infowin) {
			try {
				infowin.hide();// 隐藏窗体对象
				infowin.destroy();// 消毁窗体对象
			} catch (e) {
			}
		}
	}
	function findPath(nodeArray) {
		var findPathService, paramete, resultSetting;
		resultSetting = new SuperMap.REST.TransportationAnalystResultSetting({
			returnEdgeFeatures : true,
			returnEdgeGeometry : true,
			returnEdgeIDs : true,
			returnNodeFeatures : true,
			returnNodeGeometry : true,
			returnNodeIDs : true,
			returnPathGuides : true,
			returnRoutes : true
		});
		analystParameter = new SuperMap.REST.TransportationAnalystParameter({
			resultSetting : resultSetting,
			weightFieldName : "W_LENGTH"
		});
		parameter = new SuperMap.REST.FindPathParameters({
			isAnalyzeById : false,
			nodes : nodeArray,
			hasLeastEdgeCount : false,
			parameter : analystParameter
		});

		if (nodeArray.length <= 1) {
			alert("点位少于2个，无法形成轨迹!");
		}
		findPathService = new SuperMap.REST.FindPathService(url2, {
			eventListeners : {
				"processCompleted" : processCompleted
			}
		});

		findPathService.processAsync(parameter);
	}

	function processCompleted(findPathEventArgs) {
		var result = findPathEventArgs.result;
		if(number==1){
			addRouteResult(result);
		}else{
	 		allScheme(result);	
		}
	}
	   var routeStyle = {
		        strokeColor: "#304DBE",
		        strokeWidth: 5,
		        pointerEvents: "visiblePainted",
		        fill: false
		    };
	  
   function addRouteResult(result) {
       for (var i = 0; i < result.pathList.length; i++) {
           var c = result.pathList[i].route.components[0].components[0];
           var p1 = new SuperMap.Geometry.Point(c.x, c.y);
           for (var j = 1; j < result.pathList[i].route.components[0].components.length; j++) {
               c = result.pathList[i].route.components[0].components[j];
               var p2 = new SuperMap.Geometry.Point(c.x, c.y);
               var curLine = new SuperMap.Geometry.LinearRing([p1, p2]);
               var pathFeature = new SuperMap.Feature.Vector();
               pathFeature.geometry = curLine;
               pathFeature.style = routeStyle;
               vectorLayer.addFeatures(pathFeature);
               p1 = p2;
           }
       }
   }
   var pointTeam=[];
	function allScheme(result) {
		  var pathGuideItems = result.pathList[pathListIndex].pathGuideItems;
		   pointTeam=pathGuideItems;
	 	   getAnimator(pointTeam);
	}
	function clearElements() {
		pathListIndex = 0;
		routeCompsIndex = 0;
		select.deactivate();
		if (vectorLayer.selectedFeatures.length > 0) {
			map.removePopup(vectorLayer.selectedFeatures[0].popup);
		}
		vectorLayer.removeAllFeatures();
		animatorLayer.removeAllFeatures();
		markerLayer.clearMarkers();
	}
	var cap,number, infowin, imgs = [],latitude = [], longitude = [], marker = [],time=[],address=[],latitudes = [], longitudes = [],nodeArr=[];

	//前后台数据交互
	function check() {
		clearElements();
		closeInfoWin();
		var cph = $('#cph').val();
		var stime = $('#stime').val();
		var etime = $('#etime').val();
		if (cph == null || cph == "") {
			alert("请输入车牌！");
			return;
		}
		if (cph != null) {
			cph = cph.replace(/ /g, '');
			cph=cph.toUpperCase();
		}
		if (stime == null || stime == "") {
			alert("请选择起始时间！");
			return;
		}
		if (etime == null || etime == "") {
			alert("请选择结束时间！");
			return;
		}
		if (!compareDate(stime, etime)) {
			return false;
		};
// 		'cph' : '冀RF0P58',
// 		'qssj' : '2018-06-01 16:33:00',
// 		'jssj' : '2018-06-01 16:45:00'
		$.ajax({
					type : "POST",
					url : baseURL + "etcp/etcpGJList",
					contentType : "application/json",
					data : JSON.stringify({
						'cph' : cph,
						'qssj' : stime,
						'jssj' : etime
					}),
					success : function(r) {
						nodeArr=[];
						time=[];
						latitude=[];
						longitude=[];
						latitudes=[];
						longitudes=[];
						imgs = [];
						address=[];
						pointTeam=[];
						var pointFeatures;
						if(r.page!=null){
						for (var i = 0; i < r.page.length; i++) {
							nodeArr.push(new SuperMap.Geometry.Point(r.page[i].jingdu, r.page[i].weidu));
							var j=i+1;
							var nodeArray = [];
							imgs[i] =r.page[i].enterImg;
							time[i]=r.page[i].enterTime;
							address[i]=r.page[i].adress;
							cap = r.page[i].carNumber;
							size = new SuperMap.Size(44, 33);
							if(j<=r.page.length-1){
							latitude[0] = r.page[i].jingdu;
							longitude[0] = r.page[i].weidu;
							latitudes[0] = r.page[j].jingdu;
							longitudes[0] = r.page[j].weidu;
							nodeArray.push(new SuperMap.Geometry.Point(latitude[0], longitude[0]));
							nodeArray.push(new SuperMap.Geometry.Point(latitudes[0], longitudes[0]));
							number=1;
							findPath(nodeArray);
							}
                        };
                    	for (var i = 0; i < nodeArr.length; i++) {
                    		if(i==0){
                    			var guideFeatur = new SuperMap.Feature.Vector();
    							guideFeatur.geometry = nodeArr[i];
    							guideFeatur.style = start;
    							vectorLayer.addFeatures(guideFeatur);
                    		}else if(i>0&&i==nodeArr.length-1){
                    			var guideFeatur = new SuperMap.Feature.Vector();
    							guideFeatur.geometry = nodeArr[i];
    							guideFeatur.style = end;
    							vectorLayer.addFeatures(guideFeatur);
                    			
                    		}else{
                    			var guideFeatur = new SuperMap.Feature.Vector();
    							guideFeatur.geometry = nodeArr[i];
    							guideFeatur.style = begin;
    							vectorLayer.addFeatures(guideFeatur);
                    		}
							
						}
					  }
					}
				});
	}
	
	//加载动态图
	function getAnimator(pointTeam) {
		stopAnimator();
		var j = 0;
		var findPathEventq = [];
		var k;
    		//构建节点数据
 		     for (var i = 0; 2*i <= (pointTeam.length-1); i++) {
 		    	k=2*i;
 				findPathEventq[j] = new SuperMap.Feature.Vector(
 						new SuperMap.Geometry.Point(pointTeam[k].geometry.x,
 								pointTeam[k].geometry.y), {
 							FEATUREID : "point",//设置要素的id
 							TIME : j
 						});
 				j++;
 		};
		//给animatorLayer图层添加数据
		var sp = $('#speed').val();
		if (sp == "1") {
			animatorLayer.animator.setSpeed(0.03);
		} else if (sp == "2") {
			animatorLayer.animator.setSpeed(0.1);
		}else if (sp == "0") {
			animatorLayer.animator.setSpeed(0.02);
		}
		animatorLayer.addFeatures(findPathEventq);
		animatorLayer.animator.start();
	}
	//开始播放动画
	function startAnimator() {
		animatorLayer.animator.start();
	}
	//暂停播放动画
	function pauseAnimator() {
		animatorLayer.animator.pause();
	}

	//停止播放动画
	function stopAnimator() {
		animatorLayer.animator.stop();
	}
</script>
</head>
<body onload="init()">
	<div id="toolbar">
		<div class="form-group col-sm-2 kuandu">
			<input type="text" class="form-control" id="cph" placeholder="车牌号">
		</div>
		<div class="form-group col-sm-2 kuandu">
			<input type="text" class="form-control" id="stime" placeholder="起始时间"
				readonly="readonly">
		</div>
		<div class="form-group col-sm-2 kuandu">
			<input type="text" class="form-control" id="etime" placeholder="结束时间"
				readonly="readonly">
		</div>
		
		<div class="form-group col-sm-2 kuandu">
			<select id="speed" class="moreChoose" style="width: 120px;">
				<option value="3">轨迹运行速度</option>
				<option value="0">快</option>
				<option value="1">加快</option>
				<option value="2">更快</option>
			</select>
		</div>
		<input type="button" class="btn"
			style="background: #337ab7; color: #fff; margin-left: 15px;"
			value="轨迹查询" onclick="check()" /> 
			<input type="button" class="btn"
			style="background: #337ab7; color: #fff; margin-left: 15px;"
			value="播放轨迹" onclick="boFang()" />
	</div>
	<div id="map"></div>
	<script src="../../vasMap/laydate-master/dist/laydate.js"></script>
	<script language="javascript" type="text/javascript">
		function getBeforeDate(n) {
			var n = n;
			var d = new Date();
			var year = d.getFullYear();
			var mon = d.getMonth() + 1;
			var day = d.getDate();
			if (day <= n) {
				if (mon > 1) {
					mon = mon - 1;
				} else {
					year = year - 1;
					mon = 12;
				}
			}
			d.setDate(d.getDate() - n);
			year = d.getFullYear();
			mon = d.getMonth() + 1;
			day = d.getDate();
			var hour = d.getHours();
			var min = d.getMinutes();
			var sen = d.getSeconds();
			s = year + "-" + (mon < 10 ? ('0' + mon) : mon) + "-"
					+ (day < 10 ? ('0' + day) : day) + " "
					+ (hour < 10 ? ('0' + hour) : hour) + ":"
					+ (min < 10 ? ('0' + min) : min) + ":"
					+ (sen < 10 ? ('0' + sen) : sen);
			return s;
		}

		var t1 = getBeforeDate(7);
		var t2 = getBeforeDate(0);
		laydate.render({
			elem : '#stime',
			value : t1,
			type : 'datetime'

		});
		laydate.render({
			elem : '#etime',
			value : t2,
			type : 'datetime'
		});
		// 时间比较（yyyy-MM-dd）
		function compareDate(startDate, endDate) {
			var startTime = new Date(startDate);
			var startTimes = startTime.getTime();
			var endTime = new Date(endDate);
			var endTimes = endTime.getTime();
			if (endTimes < startTimes) {
				alert("结束时间不能小于开始时间");
				return false;
			} else if ((endTimes - startTimes) > (90 * 24 * 60 * 60 * 1000)) {
				alert("时间段最长不超过90天");
				return false;
			}
			return true;
		}
// 		播放轨迹
		function boFang() {
			number=2;
			findPath(nodeArr);
		}
		// 		返回
		function backup() {
			if(chep!=null&&chep!=""&&chep!="null"){
				chep=carn.toUpperCase();
				sessionStorage.setItem("cph", chep);
			}
			sessionStorage.setItem("pag", pag);
			sessionStorage.setItem("qssj", qs);
			sessionStorage.setItem("jssj", js);
			window.history.back(-1);
		}
		
	</script>
</body>

</html>
